<h1><%= t("mailers.reset_password.message") %></h1>
<p><%= t("mailers.reset_password.subject") %></p>
<%= link_to t("mailers.request_reset_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t("update.user.info_1") %></p>
<p><%= t("update.user.info_2") %></p>
