<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t 'language' %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-item"><%= link_to "English", url_for(locale: "en"), class: "dropdown-item" %></li>
            <li class="dropdown-item"><%= link_to "Vietnamese", url_for(locale: "vi"), class: "dropdown-item" %></li>
          </ul>
        </li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" id="accountDropdown" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t("account") %> <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" aria-labelledby="accountDropdown" class="dropdown-menu">
              <li class="dropdown-item nav-link"><%= link_to t("home.title"), root_path %></li>
              <li class="dropdown-item nav-link"><%= link_to t("profile"), current_user %></li>
              <li class="dropdown-item nav-link"><%= link_to t("user.title.list"), users_path %></li>
              <li class="dropdown-item nav-link"><%= link_to t("update.user.title"), edit_user_path(current_user) %></li>
              <li class="dropdown-item nav-link">
                <%= link_to t("logout.title"), logout_path,
                            data: { "turbo-method": :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("signin.title"), login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
