<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.gravatar.size), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.image.attached? %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>
  <span class="timestamp">
    <%= t("micropost.posted") %> <%= time_ago_in_words(micropost.created_at) %> <%= t("micropost.ago") %>.
    <% if current_user? micropost.user %>
    <%= link_to t("micropost.delete.title"), micropost, data: { "turbo-method": :delete, "turbo-confirm": t("micropost.delete.confirm") } %>
  <% end %>
  </span>
</li>
