<tr id="<%= dom_id product %>">
  <td><%= product.id %></td>
  <th><%= product.name %></th>
  <td><%= product.created_at %></td>
  <td><%= product.updated_at %></td>
  <td><%= link_to t("product.show"), product %></td>
</tr>
