<tr id="<%= dom_id product %>">
  <td>ID: <%= product.id %></td>
  <th><%= product.name %></th>
  <td>Created at: <%= product.created_at %></td>
  <td>Updated at: <%= product.updated_at %></td>
  <td><%= link_to "Show this product", product %></td>
</tr>
